choice
    prompt "模型"

config MICRO_WAKE_WORD_MODEL_ALEXA
    bool "Alexa"

config MICRO_WAKE_WORD_MODEL_HEY_JARVIS
    bool "Hey Jarvis"

config MICRO_WAKE_WORD_MODEL_HEY_MYCROFT
    bool "Hey Mycroft"

config MICRO_WAKE_WORD_MODEL_OKAY_NABU
    bool "Okay Nabu"

config MICRO_WAKE_WORD_MODEL_XIAOLINGXIAOLING
    bool "小聆小聆"

endchoice

config MICRO_WAKE_WORD_MODEL_XIAOLINGXIAOLING_PROBABILITY_CUTOFF
    int "触发阈值 (%)"
    default 90
    range 1 99
    depends on MICRO_WAKE_WORD_MODEL_XIAOLINGXIAOLING
